*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.fa{
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}
.fa a{
    text-decoration: none;
    padding: 0 40px;
    display: flex;
    gap: 15px;
    color: rgb(255, 106, 0);
    width: 200px;
    height: 30px;
    align-items: center;
    border-radius: 5px;
    transition: 0.3s;
}
.i{
    transition: 0.3s;
}
.fa a:hover i{
    font-size: 25px;
}
.fa a:hover{
    background-color: rgb(0, 136, 255);
    color: rgb(0, 255, 8);
}